.elementor-5 .elementor-element.elementor-element-2984d38 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-2984d38 .elementor-image img {width: 100%;max-width: 100%;}
.elementor-5 .elementor-element.elementor-element-e44fadf {text-align: center;}
.elementor-5 .elementor-element.elementor-element-e44fadf.elementor-widget-heading .elementor-heading-title {color: #fcae1e;}
.elementor-5 .elementor-element.elementor-element-e44fadf .elementor-heading-title {font-family: "Tahoma",Sans-serif;font-size: 80px;line-height: 1.1em;letter-spacing: -.5px;}
.elementor-5 .elementor-element.elementor-element-e44fadf > .elementor-widget-container {margin: -111px 0px 0px 0px;}
.elementor-5 .elementor-element.elementor-element-3d4af5e > .elementor-container {max-width: 615px;}
.elementor-5 .elementor-element.elementor-element-3d4af5e {margin-top: -200px;margin-bottom: 0px;}
.elementor-5 .elementor-element.elementor-element-f32992a {text-align: center;}
.elementor-5 .elementor-element.elementor-element-f32992a.elementor-widget-heading .elementor-heading-title {color: #fcae1e;}
.elementor-5 .elementor-element.elementor-element-f32992a .elementor-heading-title {font-family: "Tahoma",Sans-serif;font-size: 64px;letter-spacing: 8.7px;}
.elementor-5 .elementor-element.elementor-element-f312d53 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-f312d53.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-f312d53 .elementor-heading-title {font-weight: 300;}
.elementor-5 .elementor-element.elementor-element-2736862 > .elementor-container {max-width: 1147px;}
.elementor-5 .elementor-element.elementor-element-2736862 {margin-top: -189px;margin-bottom: 0px;}
.elementor-5 .elementor-element.elementor-element-69f5385 {margin-top: -44px;margin-bottom: 0px;}
.elementor-5 .elementor-element.elementor-element-4d4814f {text-align: center;}
.elementor-5 .elementor-element.elementor-element-4d4814f.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-4d4814f .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 60px;line-height: 1.8em;}
.elementor-5 .elementor-element.elementor-element-16b9456 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-16b9456.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-16b9456 .elementor-heading-title {font-size: 48px;}
.elementor-5 .elementor-element.elementor-element-a16bec5 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-a16bec5.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-a16bec5 .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 52px;font-weight: 300;text-shadow: 0px 0px 10px rgba(0,0,0,.3);mix-blend-mode: screen;}
.elementor-5 .elementor-element.elementor-element-a16bec5 > .elementor-widget-container {background-color: #fcae1e;border-style: double;}
.elementor-5 .elementor-element.elementor-element-97d8b0d {text-align: center;}
.elementor-5 .elementor-element.elementor-element-97d8b0d.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-97d8b0d .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 60px;line-height: 1.8em;}
.elementor-5 .elementor-element.elementor-element-dbd8922 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-dbd8922.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-dbd8922 .elementor-heading-title {font-size: 48px;}
.elementor-5 .elementor-element.elementor-element-3eb232a {text-align: center;}
.elementor-5 .elementor-element.elementor-element-3eb232a.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-3eb232a .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 52px;font-weight: 300;text-shadow: 0px 0px 10px rgba(0,0,0,.3);mix-blend-mode: screen;}
.elementor-5 .elementor-element.elementor-element-3eb232a > .elementor-widget-container {background-color: #fcae1e;border-style: double;}
.elementor-5 .elementor-element.elementor-element-9fb3e9a {margin-top: -117px;margin-bottom: 0px;}
.elementor-5 .elementor-element.elementor-element-ce57b80 .elementor-element-populated a:hover {color: #fcae1e;}
.elementor-5 .elementor-element.elementor-element-2390d8f {text-align: center;}
.elementor-5 .elementor-element.elementor-element-2390d8f.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-2390d8f .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 60px;line-height: 1.8em;}
.elementor-5 .elementor-element.elementor-element-a0dfb3f {text-align: center;}
.elementor-5 .elementor-element.elementor-element-a0dfb3f.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-a0dfb3f .elementor-heading-title {font-size: 48px;}
.elementor-5 .elementor-element.elementor-element-cd660a9 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-cd660a9.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-cd660a9 .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 52px;font-weight: 300;text-shadow: 0px 0px 10px rgba(0,0,0,.3);mix-blend-mode: screen;}
.elementor-5 .elementor-element.elementor-element-cd660a9 > .elementor-widget-container {background-color: #fcae1e;border-style: double;}
.elementor-5 .elementor-element.elementor-element-11ab21b {text-align: center;}
.elementor-5 .elementor-element.elementor-element-11ab21b.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-11ab21b .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 60px;line-height: 1.8em;}
.elementor-5 .elementor-element.elementor-element-ac62ae4 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-ac62ae4.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-5 .elementor-element.elementor-element-ac62ae4 .elementor-heading-title {font-size: 48px;}
.elementor-5 .elementor-element.elementor-element-0c4f507 {text-align: center;}
.elementor-5 .elementor-element.elementor-element-0c4f507.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-5 .elementor-element.elementor-element-0c4f507 .elementor-heading-title {font-family: "Arial",Sans-serif;font-size: 52px;font-weight: 300;text-shadow: 0px 0px 10px rgba(0,0,0,.3);mix-blend-mode: screen;}
.elementor-5 .elementor-element.elementor-element-0c4f507 > .elementor-widget-container {background-color: #fcae1e;border-style: double;}
.elementor-5 .elementor-element.elementor-element-5a1117b {text-align: center;}
.elementor-5 .elementor-element.elementor-element-5a1117b.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.94);}
.elementor-5 .elementor-element.elementor-element-5a1117b .elementor-heading-title {font-size: 22px;font-weight: 300;}
.elementor-5 .elementor-element.elementor-element-5a1117b > .elementor-widget-container {margin: -41px 0px 0px 0px;}